.post-list {
    padding-top: 100px;
    margin-left: 20%;
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: rgba(115,115,115,0.7);
    /* justify-content: space-between; */
    /* align-items: center; */

}

.post-list-tablet {
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: rgba(115,115,115,0.7);
    /* justify-content: space-between; */
    /* align-items: center;  */
    /* justify-content: space-around; */
}

.post-list-mobile {
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: rgba(115,115,115,0.7);
    justify-content: space-around;
}