.posts-page {
    margin-left: 20%;
    height: 100vh;
    background-color: rgba(115,115,115,0.7);
    overflow-y: scroll;
}


.post-list {
    margin: 100px 0 50px;
    display: flex;
    flex-wrap: wrap;
    
}


.post-list-tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-list-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.posts-page-tablet {
    padding-top: 150px;
    min-height: 100vh;
    background-color: rgba(115,115,115,0.7);
    overflow-y: scroll;

}

.posts-page-mobile {
    padding-top: 150px;
    min-height: 100vh;
    background-color: rgba(115,115,115,0.7);
    overflow-y: scroll;

}